.aboutContent {
  max-width: 80%;
  p {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.25em;
  }
  a {
    color: $main-color;
    text-decoration: underline;
  }
  a:hover {
    color: white;
  }
}

.aboutPage--emph {
  color: $main-color;
  font-size: 1.5em;
}
