.contactPage {
  display: grid;
  text-align: center;
  a {
    color: $secondary-color;
  }
  a:hover {
    color: $main-color;
  }
}

.contactPage {
  h2 {
    font-size: 2.5em;
    font-weight: 400;
  }
  h3 {
    margin-bottom: 20px;
  }
}

.contactPage__iconContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.contactPage__icon {
  margin-right: 15px;
  margin-top: 15px;
}
