.index__links {
  margin-top: 100px;
}

.homeContent {
  // grid-area: main;
  text-align: center;
  max-width: 90%;
}

h3 {
  padding-top: 30px;
}

p {
  padding-top: 10px;
}

// @media screen and (max-width: $break-point) {
//   .homeContent {
//     text-align: center;
//   }
// }

.statement {
  margin-bottom: 50px;
}

.statement:last-child {
  margin-bottom: 0;
}

.statement span {
  color: $main-color;
  font-size: 1.5em;
}

@media screen and (max-width: $break-point) {
  .statement:first-child {
    margin-top: 50px;
  }
}
