.linkButton {
  border: 0;
  position: relative;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  justify-self: center;
  padding: 10px;
  z-index: 10;
  border-radius: 20px;
}

.linkButton:hover {
  cursor: pointer;
  /* border-color: black; */
  animation: fadeIn 0.2s linear forwards;
  color: black;
  /* color: white; */
}

/* .linkButton:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: $main-color;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  z-index: -1;
} */

/* .linkButton:after:hover {
} */

.linkButtonContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    color: black;
  }
  100% {
    /* color: white; */
  }
}
