.mobileNav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 30px;
  justify-self: center;
  justify-items: center;
  margin-top: 30px;
  font-size: 1.5em;
}

.mobileNav__link {
  color: white;
  position: relative;
  text-decoration: none;
  width: fit-content;
}

.mobileNav__link:hover {
  color: white;
}

// https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
// ---- START Animated underline on hover --------
.mobileNav__link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $main-color;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.mobileNav__link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

// ---- END Animated underline on hover --------

@media screen and (min-width: $break-point) {
  .mobileNav {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .mobileNav {
    grid-template-columns: auto auto;
    grid-auto-rows: auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
}
