.projects {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  /* grid-template-rows: repeat() */
  justify-items: center;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .projectsTitle {
    margin-top: 30px;
  }
}
