.projectTile {
  align-content: center;
  position: relative;
  background-color: $tertiary-color;
  // background-image: linear-gradient(
  //     rgba(220, 220, 220, 0.5),
  //     rgba(220, 220, 220, 0.5)
  //   ),
  //   url("https://images.unsplash.com/photo-1565084161515-b1355d4fbb45?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");
  display: grid;
  height: 300px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 300px;
  cursor: pointer;
}

.projectTile__image {
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
}

.projectTile__image:hover {
  opacity: 0.9;
}

.projectTile__projectName {
  font-size: 30px;
  margin: 10px;
  position: relative;
}
