.projectTile {
  align-content: center;
  background-color: grey;
  display: grid;
  height: 300px;
  justify-content: center;
  text-align: center;
  width: 300px;
}

.projectTile2 {
  background-color: blue;
}
