@import "../base/settings";
@import "../base/base";
@import "../components/contactForm";
@import "../components/contactPage";
@import "../components/contentBox";
@import "../components/header";
@import "../components/indexPage";
@import "../components/linkButton";
@import "../components/mobileNav";
@import "../components/navbar";
@import "../components/portfolioPage";
@import "../components/projectTile";

.layout {
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  // grid-template-areas:
  //   "header navbar"
  //   "content navbar";
  min-height: 100vh;
  /* padding: 40px 0 0 90px; */
}

/* .mainContent {
  grid-area: content;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "content";
} */

@media screen and (max-width: $break-point) {
  // .layout {
  //   grid-template-columns: 1fr;
  //   /* grid-template-areas: "main"; */
  //   padding: 40px 20px 20px 20px;
  // }
}
