.contactContent a {
  text-decoration: underline;
  text-decoration-color: var(--stuGreen);
}

/* .contactContent a:hover {
  text-decoration-color: black;
} */

.contactContent h2 {
  font-size: 2.5em;
  font-weight: 400;
}

.contactContent {
  display: grid;
  text-align: center;
}

.formResponse {
  display: grid;
  grid-row-gap: 5px;
  justify-items: center;
  margin: 20px 0 20px 0;
  border: 5px solid var(--stuGreen);
  padding: 0 10px 10px 10px;
  /* width: 50%; */
  justify-self: center;
}
