.header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto 1fr;
}

.headLine {
  width: 300px;
  height: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--stuGreen);
}

.stuImg {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  /* margin-left: 100px; */
  justify-self: center;
}
