.homeContent {
  grid-area: main;
  text-align: center;
}

h3 {
  padding-top: 30px;
}

p {
  padding-top: 10px;
}

@media screen and (max-width: 800px) {
  .homeContent {
    text-align: center;
  }
}

.statement {
  padding-bottom: 30px;
}

.statement:last-child {
  padding-bottom: 0;
}

.statement span {
  color: var(--stuGreen);
  font-size: 1.5em;
}
